<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">KLIMU</title>
</head>

<body>
<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/users/sign-up.css'}"/>

<!-- Main -->
<div class="cont">
    <a th:href="@{'/'}" class="d-flex justify-content-center">
        <img  th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU Logo" class="logo_title">
    </a>
    <h2>Sign-up</h2>
    <form class="parent" method="post" th:action="@{/user/create}">
        <div class="div1 conjunto">
            <label>
                <div class="h3">NOMBRE</div>
                <input type="text" class="input_texto" name="name" required>
            </label>
        </div>
        <div class="div2 conjunto">
            <label>
                <div class="h3">APELLIDO</div>
                <input type="text" class="input_texto" name="surname" required>
            </label>
        </div>
        <div class="div4 conjunto">
            <label>
                <div class="h3">EMAIL</div>
                <input type="email" class="input_texto" name="email" required>
            </label>
        </div>
        <div class="div5 conjunto">
            <label>
                <div class="h3">TELEFONO</div>
                <input type="tel" class="input_texto" name="number" required>
            </label>
        </div>
        <div class="div6 conjunto">
            <label>
                <div class="h3">USERNAME</div>
                <input type="text" class="input_texto" name="username" required>
            </label>
        </div>
        <div class="div7 conjunto">
            <label>
                <div class="h3">CONTRASEÑA</div>
                <input type="password" class="input_texto" name="password" required>
            </label>
        </div>
        <div class="div3">
            <div class="text-center subscription_box m-1 p-1">
                <button type="submit" class="btn btn-subscribe">SUBSCRIBE NOW</button>
                <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
            </div>
        </div>
    </form>
</div>
</body>
</html>