<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">KLIMU</title>
</head>

<body>
<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/index.css'}"/>

<!-- Main -->
<div class="cont">
    <img  th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU Logo" class="logo_title">

    <a th:href="@{/login/sign-in}" class="text-center subscription_box parent">
        <button class="btn div1">SUBSCRIBE NOW</button>
        <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">

    </a>


</div>

</body>
</html>