<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">New Notification</title>
</head>

<body>
    <!-- Custom Styling -->
    <link rel="stylesheet" th:href="@{'/css/services/add_alert.css'}"/>
    <!-- Main -->
    <main>
        <div class="logo text-center">
            <a th:href="@{'/'}" class="d-flex justify-content-center">
                <img th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU" class="img-fluid p-5 py-2">
            </a>
        </div>
        <div class="text-center">
            <h3 class="w-md-50 w-lg-25 w-sm-75 py-2 bck-g" th:text="${channel.toUpperCase()}"></h3>
        </div>
        <div>
            <form class="pb-3" method="post" th:action="@{'/notification/add'}">
                <input type="hidden" th:name="channel" th:value="${channel}">
                <div id="ubicacion" class="text-center m-3">
                    <label>
                        <span class="title mb-3">1: AÑADIR UBICACION</span>
                        <select class="form-control" th:name="locationId">
                            <option th:each="location : ${locationList}" th:value="${location.getId()}" th:text="${location.toString()}">
                            </option>
                        </select>
                    </label>
                </div>
                <div id="seleccion-alertas" class="text-center mb-3">
                    <label>
                        <span class="title mb-3">2: SELECCIONAR ALERTAS</span>
                        <select class="form-control" th:name="notificationTypeId">
                            <option th:each="notification : ${notificationList}" th:value="${notification.getId()}" th:text="${notification.getName()}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="text-center">
                    <div class="pb-3">
                        <button type="submit" class="w-lg-25 w-md-50 w-sm-75 bck-g p-2">Save</button>
                    </div>
                    <a th:href="@{'/channel/subscription'}">
                        <button class="w-lg-25 w-md-50 w-sm-75 bck-g p-2">Back</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>