<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Email</title>
</head>

<body>
    <!-- Custom Styling -->
    <link rel="stylesheet" th:href="@{'/css/services/email.css'}"/>
    <!-- JS -->
    <script type="text/javascript" th:src="@{'/js/channel.js'}"></script>
    <!-- Main -->
    <main>
        <div class="logo text-center">
            <a th:href="@{'/'}" class="d-flex justify-content-center">
                <img th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU" class="img-fluid p-5 py-2">
            </a>
        </div>
        <div class="text-center">
            <h3 class="w-md-50 w-lg-25 w-sm-75 py-2 bck-g">E-MAIL</h3>
        </div>

        <div class="ms-3 my-3">

            <div>
                <div id="ubicacion" class="text-center mb-3">
                    <label class="title">1: AÑADIR UBICACION*</label>
                    <div class="combobox-wrapper mb-2">
                        <div id="ex1-combobox">
                            <input type="text" role="combobox" aria-haspopup="grid" aria-expanded="false" aria-autocomplete="list" aria-controls="ex1-grid" id="ex1-input">
                        </div>
                        <div aria-labelledby="ex1-label" role="grid" id="ex1-grid" class="grid hidden">
                        </div>
                    </div>
                </div>
                <div id="seleccion-alertas" class="mb-3">
                    <label class="title text-center">2: SELECCIONAR ALERTAS*</label>
                    <div class="alertas mx-4 mt-2 row">
                        <div class="p-2 col-sm-6" id="alertas_diarias">
                            <div class="d-flex_g align-items-center">
                                <label>ALERTAS CLIMATOLOGICAS DIARIAS<input type="checkbox"/></label>
                                <div id="seleccion_hora" class="mx-4 mt-2">
                                    <label style="display: inline;">HORA AVISO</label>
                                    <input type="time" class="bck-g ms-3">
                                </div>
                            </div>
                        </div>
                        <div class="p-2 col-sm-6">
                            <div class="d-flex_g align-items-center">
                                <label>ALERTAS CLIMATOLOGICAS ADVERSA<input type="checkbox"/></label>
                            </div>
                        </div>
                        <div class="p-2 col-sm-6">
                            <div class="d-flex_g align-items-center">
                                <label>ALERTAS GEOLÓGICAS<input type="checkbox"/></label>
                            </div>
                        </div>
                        <div class="p-2 col-sm-6" id="alertas_temporales">
                            <div class="d-flex_g align-items-center">
                                <label>ALERTAS TEMPORALES<input type="checkbox"/></label>
                                <div class="row mt-2">
                                    <div class="col d-flex justify-content-center">
                                        <label class="text-center">FECHA INICIO</label>
                                        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                                    </div>
                                    <div class="col d-flex justify-content-center" id="fecha_fin">
                                        <label class="text-center">FECHA FIN</label>
                                        <input type="date" id="end" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pb-3 ">
                    <a th:href="@{'/subscription'}">
                        <button class="w-md-50 w-lg-25 w-sm-75 bck-g p-2">Guardar<span class="fas fa-arrow-right"></span></button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>