<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Lista Alertas</title>
</head>
<body>
    <!-- Custom Styling -->
    <link rel="stylesheet" th:href="@{'/css/services/listaAlertas.css'}"/>

    <!-- Main -->
    <div class="todo">
        <div class="left">
            <div class="logo text-center">
                <img th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU" class="img-fluid p-5">
            </div>
    
            <div class="suscripciones d-flex justify-content-around px-3 ">
                <a th:href="@{'/subscription'}" class="text-center subscription_box parent">
                    <button class="btn div1">TELEGRAM</button>
                    <img  th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
                <a href="email.html" class="text-center subscription_box parent blur">
                    <button class="btn div1">WHATSAPP</button>
                    <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
                <a href="email.html" class="text-center subscription_box parent blur">
                    <button class="btn div1">EMAIL</button>
                    <img  th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
            </div>
    
    
            <div class="py-4 unsuscribe w-100 text-center">
                <a id="unsuscribe" href="#">UNSUSCRIBE?</a>
            </div>
        </div>
        <div class="right">
            <div class="text-center title">
                <button class="btn">TELEGRAM</button>
            </div>
            <div class="alerta">
                <div>
                    <h1>ARRASATE</h1>
                    <img th:src="@{'/media/svg/delete.svg'}" alt="eliminar">
                </div>
                
                <h3>-Alertas GEOLÓGICAS</h3>
                <h3>-Alertas TEMPORALES</h3>
            </div>
            <div class="alerta">
                <div>
                    <h1>MADRID</h1>
                    <img th:src="@{'/media/svg/delete.svg'}" alt="eliminar">
                </div>
                
                <h3>-Alertas GEOLÓGICAS</h3>
                <h3>-Alertas TEMPORALES</h3>
            </div>
            <div class="text-center anadir title">
                <a th:href="@{'/email'}">
                <button class="btn">AÑADIR</button>
                <img th:src="@{'/media/svg/add.svg'}" alt="añadir tarea">
                </a>
            </div>
        </div>
    </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    
    </html>