<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Lista Alertas</title>
</head>
<body>
    <!-- Custom Styling -->
    <link rel="stylesheet" th:href="@{'/css/services/listaAlertas.css'}"/>

    <!-- Main -->
    <div class="todo">
        <div class="left">
            <div class="text-center">
                <img th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU" class="logo img-fluid">
            </div>
            <div class="suscripciones d-flex justify-content-around px-3 ">
                <a th:href="@{'/subscription'}" class="text-center subscription_box parent">
                    <button class="btn div1">TELEGRAM</button>
                    <img  th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
                <a th:href="@{'/subscription'}" class="text-center subscription_box parent blur">
                    <button class="btn div1">WHATSAPP</button>
                    <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
                <a th:href="@{'/subscription'}" class="text-center subscription_box parent blur">
                    <button class="btn div1">EMAIL</button>
                    <img  th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
                <a th:href="@{'/subscription'}" class="text-center subscription_box parent blur">
                    <button class="btn div1">DESKTOP</button>
                    <img  th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
            </div>
            <div class="py-4 unsuscribe w-100 text-center">
                <a id="unsuscribe" href="#">UNSUSCRIBE?</a>
            </div>
        </div>
        <div class="right">
            <div class="text-center title">
                <button class="btn">TELEGRAM</button>
            </div>
            <div class="alerta">
                <div>
                    <h1>ARRASATE</h1>
                    <img th:src="@{'/media/svg/delete.svg'}" alt="eliminar">
                </div>
                
                <h3>-Alertas GEOLÓGICAS</h3>
                <h3>-Alertas TEMPORALES</h3>
            </div>
            <div class="alerta">
                <div>
                    <h1>MADRID</h1>
                    <img th:src="@{'/media/svg/delete.svg'}" alt="eliminar">
                </div>
                
                <h3>-Alertas GEOLÓGICAS</h3>
                <h3>-Alertas TEMPORALES</h3>
            </div>
            <div class="text-center anadir title">
                <a th:href="@{'/email'}">
                <button class="btn">AÑADIR</button>
                <img th:src="@{'/media/svg/add.svg'}" alt="añadir tarea">
                </a>
            </div>
        </div>
    </div>
    </body>
</html>