<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscripciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link rel="stylesheet" href="css/services/suscription.css"/>
</head>

<body>
<div class="row">
    <div class="col">
        <div class="logo text-center">
            <img src="img/klimu_title.png" class="img-fluid p-5">
        </div>

        <div class="suscripciones d-flex justify-content-around px-3">
            <a href="email.html" class="text-center">
                <button class="btn">TELEGRAM<span class="fas fa-arrow-right"></span></button>
            </a>
            <a href="email.html" class="text-center">
                <button class="btn">WHATSAPP<span class="fas fa-arrow-right"></span></button>
            </a>
            <a href="email.html" class="text-center">
                <button class="btn">EMAIL<span class="fas fa-arrow-right"></span></button>
            </a>
        </div>


        <div class="py-4 unsuscribe w-100 text-center">
            <a id="unsuscribe" href="#">UNSUSCRIBE?</a>
        </div>
    </div>
    <div id="fill_image" class="col">
        <img src="img/suscripciones_lateral.png" class="img-fluid">

    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</html>