<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Subscriptions</title>
</head>
<body>
<!-- Custom Styling -->
<link rel="stylesheet" th:href="@{'/css/services/listaAlertas.css'}"/>

<!-- Main -->
<main class="todo">
    <div class="left">

        <a th:href="@{'/'}" class="d-flex justify-content-center">
            <img th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU" class="logo img-fluid">
        </a>

        <div class="suscripciones d-flex justify-content-around px-3 ">
            <th:block th:each="channel : ${channelList}">
                <a th:href="${'/channel/' + channel.getName()}" class="text-center subscription_box parent">
                    <button class="btn div1" th:value="${channel.getName().toUpperCase()}"></button>
                    <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
            </th:block>
        </div>

        <div class="py-4 unsuscribe w-100 text-center">
            <a id="unsuscribe" href="/logout">UNSUBSCRIBE?</a>
        </div>
    </div>
    <div id="fill_image" class="right">
        <img th:src="@{'/media/img/suscripciones_lateral.jpg'}" class="img-fluid">
    </div>
</main>
</body>
</html>