<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">Login</title>
</head>
<body>
    <!-- Custom Styling -->
    <link rel="stylesheet" th:href="@{'/css/login.css'}"/>

    <!-- Main -->
    <main class="container">
        <div class="row">
            <div class="login col">
                <div class="logo">
                    <a th:href="@{'https://klimu.eus'}" class=" d-flex justify-content-center" target="_blank">
                    <img id="img_uno" th:src="@{'/media/img/logo1.png'}" alt="Logo de KLIMU" class="img-fluid">
                    <img id="img_dos" th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU" >
                    </a>
                </div>

                <div class="mt-4 title">Log in</div>
                <form class="p-3 mt-3" method="post" action="/login">
                    <div class="dato_usuario d-flex align-items-center"><span class="fas fa-user"></span>
                        <input id="username" name="username" type="text" placeholder="Usuario">
                    </div>
                    <div class="dato_usuario d-flex align-items-center"><span class="fas fa-key"></span>
                        <input id="password" name="password" type="password" placeholder="Contraseña">
                    </div>
                    <button class="btn mt-3" type="submit">Login</button>
                </form>
                <div class="text-center">
                    <a href="http://localhost:8080/klimu/app">Already logged in?<br>Enter</a>
                </div>
            </div>
            <div id="fill_image" class="col">
                <img th:src="@{'/media/img/klimu_login_3.jpg'}" class="img-fluid">
            </div>
        </div>
    </main>
</body>
</html>