<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title id="pageTitle">KLIMU</title>
</head>

<body>
    <link rel="stylesheet" th:href="@{'/css/index.css'}"/>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo text-center">
                    <img th:src="@{'/media/img/klimu_title.png'}" class="img-fluid">
                </div>
                <div class="px-3 pb-2">
                    <div id="title" class="text-center ">
                        <img  th:src="@{'/media/img/title.jpg'}" alt="Titulo" class="title">
                    </div>
                    <label class="py-3">
                        KLIMU es un sistema de análisis y predicción de eventos climáticos adversos que
                        afectan a la salud de la población.
                    </label>
                    <img id="imagen_sol" th:src="@{'/media/img/sol_nube_rayo2.png'}" class="image-fluid w-100"/>
                </div>
                <div class="container text-center subscribe w-100 px-3">
                    <a class="row btn subscribe_button w-100 py-3 mb-1" th:href="@{/channel/subscription}">
                        <span class="col">DASHBOARD</span>
                    </a>
                    <a class="row btn subscribe_button w-100 py-3 mb-1" th:href="@{/login/sign-up}">
                        <span class="col">SUBSCRIBE NOW</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cont">
        <img  th:src="@{'/media/img/klimu_title.png'}" alt="KLIMU Logo" class="logo_title">
        <img  th:src="@{'/media/img/title.png'}" alt="Titulo" class="title">

        <p class="text">
            KLIMU es un sistema de análisis y predicción de eventos climáticos adversos que afectan a la
            salud de la población. El sistema utiliza una inteligencia artificial que se encarga de clasificar
            estos eventos y generar alertas que son transmitidas a los usuarios.
        </p>
        <span class="cont">
            <span class="row">
                <a th:href="@{/channel/subscription}" class="col text-center subscription_box parent m-1">
                    <button class="btn div1">DASHBOARD</button>
                    <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
                <a th:href="@{/login/sign-up}" class="col text-center subscription_box parent m-1">
                    <button class="btn div1">SUBSCRIBE NOW</button>
                    <img th:src="@{'/media/svg/arrow.svg'}" alt="flecha" class="div2">
                </a>
            </span>
        </span>
        <img th:src="@{'/media/img/grafico_funcionalidades.png'}" alt="Grafico funcionaidades" class="klimu_grafico"/>
    </div>
</body>
</html>